<link href="template/css/helper_main.css" />

<html>
<window id="helperWindow" class="helperWindow" placement="center" title="Helper" onescape="self:doCloseWindow()">

    <!-- Tab bar -->
    <div class="helperTabBar">
        <UIButton id="tabHealing" class="helperTabBtn helperTabActive">
            <label class="helperTabLabel">Healing</label>
        </UIButton>
    </div>

    <!-- Body: STATUS float:left + right col float:left -->
    <div class="helperBody">

        <!-- Left: STATUS panel (162px float:left) -->
        <div class="helperStatusPanel">
            <div class="helperStatusInner"> Status
                <label class="helperSectionTitle"></label>
                <div class="statusToggleRow">
                    <UIButton class="helperYesBtn" onclick="self:onEnableHelper()"></UIButton>
                    <UIButton class="helperNoBtn" onclick="self:onDisableHelper()"></UIButton>
                </div>
                <label id="statusEnabledLabel" class="statusEnabledLabel"></label>
                <div class="helperDivider"></div>
                <div class="helperSubTitleRow">
                    <label class="helperSubTitle">Auto Haste</label>
                </div>
                <div class="hasteRow">
                    <UIButton id="ah_slot_1" class="spellSlot" onclick="self:onSlotClick('ah', 1)"><img id="ah_icon_1" class="spellIcon" /></UIButton><div class="hasteCheckStack"><input id="ah_enable" class="hasteCheck" type="checkbox" text="Enable" /><input id="ah_pzcast" class="hasteCheck" type="checkbox" text="PZ Cast" /></div>
                </div>
                <div class="helperDivider"></div>
                <div class="helperSubTitleRow">
                    <label class="helperSubTitle">Additional Tool</label>
                </div>
                <input id="eat_enable" class="helperCheck" type="checkbox" text="Auto Eat Food" />
            </div>
        </div>

        <!-- Right column (626px float:left) -->
        <div class="helperRightCol">

            <!-- Top: Spell (190) + Potion (190) + Mana (238) = 626px -->
            <div class="helperTopSection">
                <div class="healBlock">
                    <div class="healBlockInner">
                        <label class="healBlockTitle">Spell Healing</label>
                        <div class="healRow">
                            <UIButton id="sh_slot_1" class="spellSlot" onclick="self:onSlotClick('sh', 1)"><img id="sh_icon_1" class="spellIcon" /></UIButton><div class="controlGroup"><UIButton class="arrowBtnLeft" onclick="self:onArrowClick('sh', 1, -1)"></UIButton><UIButton class="spinValBtn" onclick="self:onValueClick('sh', 1)"><label id="sh_val_1" class="spinValLabel"></label></UIButton><UIButton class="arrowBtnRight" onclick="self:onArrowClick('sh', 1, 1)"></UIButton><img class="infoIconSm" src="/images/skin/show-gui-help-grey" *tooltip="'Cast a healing spell when your health drops to a defined percentage.'" /></div>
                        </div>
                        <div class="healRow">
                            <UIButton id="sh_slot_2" class="spellSlot" onclick="self:onSlotClick('sh', 2)"><img id="sh_icon_2" class="spellIcon" /></UIButton><div class="controlGroup"><UIButton class="arrowBtnLeft" onclick="self:onArrowClick('sh', 2, -1)"></UIButton><UIButton class="spinValBtn" onclick="self:onValueClick('sh', 2)"><label id="sh_val_2" class="spinValLabel"></label></UIButton><UIButton class="arrowBtnRight" onclick="self:onArrowClick('sh', 2, 1)"></UIButton><img class="infoIconSm" src="/images/skin/show-gui-help-grey" *tooltip="'Cast a healing spell when your health drops to a defined percentage.'" /></div>
                        </div>
                        <div class="healRow">
                            <UIButton id="sh_slot_3" class="spellSlot" onclick="self:onSlotClick('sh', 3)"><img id="sh_icon_3" class="spellIcon" /></UIButton><div class="controlGroup"><UIButton class="arrowBtnLeft" onclick="self:onArrowClick('sh', 3, -1)"></UIButton><UIButton class="spinValBtn" onclick="self:onValueClick('sh', 3)"><label id="sh_val_3" class="spinValLabel"></label></UIButton><UIButton class="arrowBtnRight" onclick="self:onArrowClick('sh', 3, 1)"></UIButton><img class="infoIconSm" src="/images/skin/show-gui-help-grey" *tooltip="'Cast a healing spell when your health drops to a defined percentage.'" /></div>
                        </div>
                    </div>
                </div>
                <!-- Vertical Separator -->
                <div class="verticalSeparator"></div>

                <div class="healBlock">
                    <div class="healBlockInner">
                        <label class="healBlockTitle">Potion Healing</label>
                        <div class="healRow">
                            <UIButton id="ph_slot_1" class="spellSlot" onclick="self:onPotionSlotClick('ph', 1)"></UIButton><div class="controlGroup"><UIButton class="arrowBtnLeft" onclick="self:onArrowClick('ph', 1, -1)"></UIButton><UIButton class="spinValBtn" onclick="self:onValueClick('ph', 1)"><label id="ph_val_1" class="spinValLabel"></label></UIButton><UIButton class="arrowBtnRight" onclick="self:onArrowClick('ph', 1, 1)"></UIButton><img class="infoIconSm" src="/images/skin/show-gui-help-grey" *tooltip="'Use a potion when your health or mana reaches a defined percentage.'" /></div>
                        </div>
                        <div class="healRow">
                            <UIButton id="ph_slot_2" class="spellSlot" onclick="self:onPotionSlotClick('ph', 2)"></UIButton><div class="controlGroup"><UIButton class="arrowBtnLeft" onclick="self:onArrowClick('ph', 2, -1)"></UIButton><UIButton class="spinValBtn" onclick="self:onValueClick('ph', 2)"><label id="ph_val_2" class="spinValLabel"></label></UIButton><UIButton class="arrowBtnRight" onclick="self:onArrowClick('ph', 2, 1)"></UIButton><img class="infoIconSm" src="/images/skin/show-gui-help-grey" *tooltip="'Use a potion when your health or mana reaches a defined percentage.'" /></div>
                        </div>
                        <div class="healRow">
                            <UIButton id="ph_slot_3" class="spellSlot" onclick="self:onPotionSlotClick('ph', 3)"></UIButton><div class="controlGroup"><UIButton class="arrowBtnLeft" onclick="self:onArrowClick('ph', 3, -1)"></UIButton><UIButton class="spinValBtn" onclick="self:onValueClick('ph', 3)"><label id="ph_val_3" class="spinValLabel"></label></UIButton><UIButton class="arrowBtnRight" onclick="self:onArrowClick('ph', 3, 1)"></UIButton><img class="infoIconSm" src="/images/skin/show-gui-help-grey" *tooltip="'Use a potion when your health or mana reaches a defined percentage.'" /></div>
                        </div>
                    </div>
                </div>
                <!-- Vertical Separator -->
                <div class="verticalSeparator"></div>

                <div class="manaBlock">
                    <div class="manaBlockInner">
                        <label class="healBlockTitle">Mana Training</label>
                        <div class="healRow">
                            <UIButton id="mh_slot_1" class="spellSlot" onclick="self:onSlotClick('mh', 1)"><img id="mh_icon_1" class="spellIcon" /></UIButton><div class="controlGroup"><UIButton class="arrowBtnLeft" onclick="self:onArrowClick('mh', 1, -1)"></UIButton><UIButton class="spinValBtn" onclick="self:onValueClick('mh', 1)"><label id="mh_val_1" class="spinValLabel"></label></UIButton><UIButton class="arrowBtnRight" onclick="self:onArrowClick('mh', 1, 1)"></UIButton><img class="infoIconSm" src="/images/skin/show-gui-help-grey" *tooltip="'Cast a spell when your mana reaches the defined percentage to prevent regeneration waste.'" /></div>
                        </div>
                        <input id="mh_enable" class="manaCheck" type="checkbox" text="Enable" />
                    </div>
                </div>
            </div>
            <!-- Horizontal Separator -->
            <div class="horizontalSeparator"></div>
            <!-- Bottom: sel(106)+list(152)+sel(106)+listWide(250) = 626px -->

            <div class="helperFriendSection">
                <div class="sioBlock">
                    <div class="sioBlockInner">
                        <label class="healBlockTitleSio">Exura Sio</label>
                        <div class="friendEntry">
                            <div id="sio_list_1" class="friendScrollArea UIScrollArea" layout="type:verticalBox"></div><UIButton class="arrowBtnLeft" onclick="self:onArrowClick('sio', 1, -1)"></UIButton><UIButton class="spinValBtn" onclick="self:onValueClick('sio', 1)"><label id="sio_val_1" class="spinValLabel"></label></UIButton><UIButton class="arrowBtnRight" onclick="self:onArrowClick('sio', 1, 1)"></UIButton><input id="sio_en_1" class="friendEntryCheck" type="checkbox" text="Enable" />
                        </div>
                        <div class="friendEntry">
                            <div id="sio_list_2" class="friendScrollArea UIScrollArea" layout="type:verticalBox"></div><UIButton class="arrowBtnLeft" onclick="self:onArrowClick('sio', 2, -1)"></UIButton><UIButton class="spinValBtn" onclick="self:onValueClick('sio', 2)"><label id="sio_val_2" class="spinValLabel"></label></UIButton><UIButton class="arrowBtnRight" onclick="self:onArrowClick('sio', 2, 1)"></UIButton><input id="sio_en_2" class="friendEntryCheck" type="checkbox" text="Enable" />
                        </div>
                    </div>
	            <div class="tooltipSio"> </div>
                </div>
                <div class="verticalSeparator"></div>
                <div class="sioBlock">
                    <div class="sioBlockInner">
                        <label class="healBlockTitleSio">Exura Gran Sio</label>
                        <div class="friendEntry">
                            <div id="gsio_list_1" class="friendScrollArea UIScrollArea" layout="type:verticalBox"></div><UIButton class="arrowBtnLeft" onclick="self:onArrowClick('gsio', 1, -1)"></UIButton><UIButton class="spinValBtn" onclick="self:onValueClick('gsio', 1)"><label id="gsio_val_1" class="spinValLabel"></label></UIButton><UIButton class="arrowBtnRight" onclick="self:onArrowClick('gsio', 1, 1)"></UIButton><input id="gsio_en_1" class="friendEntryCheck" type="checkbox" text="Enable" />
                        </div>
                        <div class="friendEntry">
                            <div id="gsio_list_2" class="friendScrollArea UIScrollArea" layout="type:verticalBox"></div><UIButton class="arrowBtnLeft" onclick="self:onArrowClick('gsio', 2, -1)"></UIButton><UIButton class="spinValBtn" onclick="self:onValueClick('gsio', 2)"><label id="gsio_val_2" class="spinValLabel"></label></UIButton><UIButton class="arrowBtnRight" onclick="self:onArrowClick('gsio', 2, 1)"></UIButton><input id="gsio_en_2" class="friendEntryCheck" type="checkbox" text="Enable" />
                        </div>
                    </div>
	            <div class="tooltipSio"> <img class="infoIconSm" src="/images/skin/show-gui-help-grey" *tooltip="'Cast Healing friend spell when the health of the character in the list drops to a defined percentage.'" /> </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Bottom bar: Set Helper Key (float:left) + Close (float:right) -->
    <div class="helperBottomBar">
        <button id="setHelperKeyBtn" class="helperFooterBtnLeft">Set Helper Key</button>
        <button class="helperFooterBtnRight" onclick="self:hide()">Close</button>
    </div>

</window>
</html>
