<link href="template/css/helper_main.css" />

<html>
<window id="helperWindow" class="helperWindow" placement="center" title="Helper" onescape="self:hide()">

    <!-- Tab bar -->
    <div class="helperTabBar">
        <UIButton id="tabHealing" class="helperTabBtn helperTabActive">
            <label class="helperTabLabel">Healing</label>
        </UIButton>
    </div>

    <!-- Body: STATUS float:left + right col float:left -->
    <div class="helperBody">

        <!-- Left: STATUS panel (162px float:left) -->
        <div class="helperStatusPanel">
            <div class="helperStatusInner"> Status
                <label class="helperSectionTitle"></label>
                <div class="statusToggleRow">
                    <button class="statusOkBtn">OK</button>
                    <button class="statusNoBtn">X</button>
                </div>
                <label class="statusEnabledLabel">Helper Status: Enabled</label>
                <div class="helperDivider"></div>
                <div class="helperSubTitleRow">
                    <label class="helperSubTitle">Auto Haste</label>
                </div>
                <input class="helperCheck" type="checkbox" text="Enable" />
                <input class="helperCheck" type="checkbox" text="PZ Cast" />
                <div class="helperDivider"></div>
                <div class="helperSubTitleRow">
                    <label class="helperSubTitle">Others Tools</label>
                    <img class="infoIconSm" src="/images/skin/show-gui-help-grey" />
                </div>
                <input class="helperCheck" type="checkbox" checked text="Auto Eat Food" />
            </div>
        </div>

        <!-- Right column (626px float:left) -->
        <div class="helperRightCol">

            <!-- Top: Spell (190) + Potion (190) + Mana (238) = 626px -->
            <div class="helperTopSection">
                <div class="healBlock">
                    <div class="healBlockInner">
                        <label class="healBlockTitle">Spell Healing</label>
                        <div class="healRow">
                            <UIButton class="spellSlot"></UIButton>
                            <UIButton class="arrowBtnLeft"></UIButton>
                            <label class="spinVal">50%</label>
                            <UIButton class="arrowBtnRight"></UIButton>
                            <img class="infoIconSm" src="/images/skin/show-gui-help-grey" />
                        </div>
                        <div class="healRow">
                            <UIButton class="spellSlot"></UIButton>
                            <UIButton class="arrowBtnLeft"></UIButton>
                            <label class="spinVal">80%</label>
                            <UIButton class="arrowBtnRight"></UIButton>
                            <img class="infoIconSm" src="/images/skin/show-gui-help-grey" />
                        </div>
                        <div class="healRow">
                            <UIButton class="spellSlot"></UIButton>
                            <UIButton class="arrowBtnLeft"></UIButton>
                            <label class="spinVal">80%</label>
                            <UIButton class="arrowBtnRight"></UIButton>
                            <img class="infoIconSm" src="/images/skin/show-gui-help-grey" />
                        </div>
                    </div>
                </div>
                <!-- Vertical Separator -->
                <div class="verticalSeparator"></div>

                <div class="healBlock">
                    <div class="healBlockInner">
                        <label class="healBlockTitle">Potion Healing</label>
                        <div class="healRow">
                            <UIButton class="spellSlot"></UIButton>
                            <UIButton class="arrowBtnLeft"></UIButton>
                            <label class="spinVal">25%</label>
                            <UIButton class="arrowBtnRight"></UIButton>
                            <img class="infoIconSm" src="/images/skin/show-gui-help-grey" />
                        </div>
                        <div class="healRow">
                            <UIButton class="spellSlot"></UIButton>
                            <UIButton class="arrowBtnLeft"></UIButton>
                            <label class="spinVal">50%</label>
                            <UIButton class="arrowBtnRight"></UIButton>
                            <img class="infoIconSm" src="/images/skin/show-gui-help-grey" />
                        </div>
                        <div class="healRow">
                            <UIButton class="spellSlot"></UIButton>
                            <UIButton class="arrowBtnLeft"></UIButton>
                            <label class="spinVal">50%</label>
                            <UIButton class="arrowBtnRight"></UIButton>
                            <img class="infoIconSm" src="/images/skin/show-gui-help-grey" />
                        </div>
                    </div>
                </div>
                <!-- Vertical Separator -->
                <div class="verticalSeparator"></div>
                
                <div class="manaBlock">
                    <div class="manaBlockInner">
                        <label class="healBlockTitle">Mana Training</label>
                        <div class="manaRow">
                            <UIButton class="spellSlot"></UIButton>
                            <input class="manaCheck" type="checkbox" text="Enable" />
                            <label class="spinVal">90%</label>
                            <UIButton class="arrowBtnDown"></UIButton>
                            <img class="infoIconSm" src="/images/skin/show-gui-help-grey" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Horizontal Separator -->
            <div class="horizontalSeparator"></div>
            <!-- Bottom: sel(106)+list(152)+sel(106)+listWide(250) = 626px -->
            <div class="helperFriendSection">
                <div class="friendSelector">
                    <div class="friendSelectorInner">
                        <div class="helperSubTitleRow">
                            <label class="helperSubTitle">Select a Friend</label>
                            <img class="infoIconSm" src="/images/skin/show-gui-help-grey" />
                        </div>
                        <div class="friendScrollArea UIScrollArea" layout="type:verticalBox"></div>
                    </div>
                </div>
                <div class="friendListBlock">
                    <div class="friendListInner">
                        <label class="healBlockTitle">Sio Friend List</label>
                        <div class="friendEntry">
                            <button class="friendAddBtn">+</button>
                            <input class="friendEntryCheck" type="checkbox" text="Enable Sio" />
                            <label class="spinVal">99%</label>
                            <UIButton class="arrowBtnDown"></UIButton>
                            <img class="infoIconSm" src="/images/skin/show-gui-help-grey" />
                        </div>
                        <div class="friendEntry">
                            <button class="friendAddBtn">+</button>
                            <input class="friendEntryCheck" type="checkbox" text="Enable Sio" />
                            <label class="spinVal">99%</label>
                            <UIButton class="arrowBtnDown"></UIButton>
                            <img class="infoIconSm" src="/images/skin/show-gui-help-grey" />
                        </div>
                    </div>
                </div>
                <div class="friendSelector">
                    <div class="friendSelectorInner">
                        <div class="helperSubTitleRow">
                            <label class="helperSubTitle">Select a Friend</label>
                            <img class="infoIconSm" src="/images/skin/show-gui-help-grey" />
                        </div>
                        <div class="friendScrollArea UIScrollArea" layout="type:verticalBox"></div>
                    </div>
                </div>
                <div class="friendListBlockWide">
                    <div class="friendListInner">
                        <label class="healBlockTitle">Gran Sio Friend List</label>
                        <div class="friendEntry">
                            <button class="friendAddBtn">+</button>
                            <input class="friendEntryCheck" type="checkbox" text="Enable" />
                            <label class="spinVal">99%</label>
                            <UIButton class="arrowBtnDown"></UIButton>
                            <img class="infoIconSm" src="/images/skin/show-gui-help-grey" />
                        </div>
                        <div class="friendEntry">
                            <button class="friendAddBtn">+</button>
                            <input class="friendEntryCheck" type="checkbox" text="Enable" />
                            <label class="spinVal">99%</label>
                            <UIButton class="arrowBtnDown"></UIButton>
                            <img class="infoIconSm" src="/images/skin/show-gui-help-grey" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Bottom bar: Set Helper Key (float:left) + Close (float:right) -->
    <div class="helperBottomBar">
        <button class="helperFooterBtnLeft">Set Helper Key</button>
        <button class="helperFooterBtnRight" onclick="self:hide()">Close</button>
    </div>

</window>
</html>
